### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

In [50]:
name = "Mahnoor"
name

'Mahnoor'

In [49]:
Create two variables, x and y, and swap their values without using a third variable.

SyntaxError: invalid syntax (3799061152.py, line 1)

In [9]:
x= 1
y= 3

x , y = y , x

print("X is = ",x, "Y is = ",y)

X is =  3 Y is =  1

Calculate the area of a rectangle with length and width stored in variables.

In [10]:
L = 3
w = 5

area = L * w

area

15

Create a variable with a long string (multi-line) and print its length.

In [11]:
var = """mahnoor
23
pu"""

len(var)

13

Create a variable to store your favorite number and print it.

In [12]:
var = 5
print(var)

5

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [13]:
s1 = 3
s2 = 5
s3 = 7

perimeter = s1 + s2 +s3

perimeter

15

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [14]:
price_of_item = 45
quantity_item = 4

total_cost = price_of_item * quantity_item

total_cost

180

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [16]:
pie = 3.14
rad = 10

cir = 2* (pie * rad)

cir

62.800000000000004

Calculate the sum of two numbers, a and b.

In [17]:
a = 4
b = 5
sum = a + b
sum

9

Calculate the product of two numbers, a and b.

In [18]:
a = 2 
b = 3
product = a * b
product

6

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [19]:
a = 20
b = 0

if b!= 0 :
    div = a / b
    div
else :
    print("Not applicable")

Not applicable

Calculate the square of a number x.

In [20]:
x = 4

sqr = x**2

sqr

16

Calculate the remainder when a is divided by b.

In [21]:
a = 4
b = 5

rem = a % b
rem

4

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [22]:
a =17
b = 3

quo = a/ b
rem = a% b

print("quo : ", quo, "rem : ", rem)

quo :  5.666666666666667 rem :  2

Calculate the area of a square with a given side length.

In [23]:
side = 5
area = side*4

area

20

Calculate the average of five numbers.

In [24]:
n1= 2
n2= 3
n3= 5
n4= 3
n5= 7

avg = n1+n2+n3+n4+n5/5

avg

14.4

Create a variable with a boolean value and print its opposite value.

In [27]:
var = True
print("opposite : ", var == -1)

opposite :  False

Store your birth year in a variable and calculate your age.

In [29]:
b = 2002
current_year= 2023

age = current_year-b

age

21

Create a variable with an integer and convert it to a float.

In [33]:
v = 5
f = float(v)
type(f), f

(float, 5.0)

Create a variable with a float and convert it to an integer.

In [34]:
flo = 6.0
integer = int(flo)
type(integer), integer

(int, 6)

Create a variable with a string that represents an integer and convert it to an integer.

In [35]:
var = '7'
integer = int(var)
type(integer), integer

(int, 7)

Create a variable with a string that represents a float and convert it to a float.

In [36]:
var = '6.77'
flo = float(var)
type(flo), flo

(float, 6.77)

Create a variable with a number and convert it to a string.

In [37]:
var = 7
st = str(var)
type(st), st

(str, '7')

Calculate the absolute value of a number.

In [40]:
value = - 4.6666
absolute = abs(value)

absolute

4.6666

Calculate the square root of a number.

In [41]:
n = 25
sqr = 25**0.5

sqr

5.0

Calculate the value of a raised to the power of b.

In [42]:
a = 10
b = 5

value = a**b

value

100000

Round a float to the nearest integer.

In [43]:
flo = 6.7777777
integer = round(flo)

integer

7

Combine multiple conditions using logical operators and print the result.

In [46]:
x = 5
y = 56

a = ((x<= 5) and  x/ y)
b = ((x>y) or y/x)
c = (not x)

print (a)
print (b)
print (c)

0.08928571428571429
11.2
False

Generate a random number between 1 and 100.**(challenging)**

In [47]:
import random

random = random.randint(1,100)

random

29