### Assignment-03 (Strings)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create a string variable with your name and print it.

In [15]:
Name_str="Mahnoor Mustafa"
print(str_Name)

Mahnoor Mustafa

Define a multiline string that includes line breaks and print it.

In [16]:
multi_str="""The following is an exapmple of multiline string. 
As u can see multiline string contains multiple lines.
U can execute this type of string by using triple quotes"""
print(multi_str)

The following is an exapmple of multiline string.
As u can see multiline string contains multiple lines.
U can execute this type of string by using triple quotes

Access the first character of a string.

In [22]:
New_str="New String Variable"
first_character=New_str[0]
print(first_character)

N

Access the last character of a string.

In [23]:
last_character=New_str[-1]
print(last_character)

e

Access the second to the fifth character of a string.

In [28]:
character=New_str[1:6]
print(character)

ew St

Attempt to change a character within an existing string and explain the result.

In [30]:
changed_str=New_str.replace("N","D")
print(changed_str)

Dew String Variable


Slice a string to obtain the first 3 characters.

In [32]:
sliced_str1=New_str[:3]
print(sliced_str1)

New

Slice a string to obtain the last 4 characters.

In [35]:
sliced_str2=New_str[-4:]
print(sliced_str2)

able

Slice a string to get every second character.

In [40]:
second_str=New_str[1::2]
print(second_str)

e tigVral

Reverse a string using slicing.

In [42]:
reversed_str=New_str[::-1]
print(reversed_str)

elbairaV gnirtS weN

Create two string variables and concatenate them.

In [45]:
My="Mahnoor"
Name="Mustafa"
my_name= My + Name
print(my_name)

MahnoorMustafa

Concatenate a string with a number (convert the number to a string first).

In [50]:
number=6
str_number="This is my roll no." + str(number)
print(str_number)

This is my roll no.6

Generate a string that repeats "abc" 10 times.

In [52]:
rep_str="abc" * 10
print(rep_str)

abcabcabcabcabcabcabcabcabcabc

Create a string containing a repeating pattern of your choice.

In [53]:
rep_str2="haha" * 30
print(rep_str2)

hahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahaha

Convert a string to lowercase using the lower() method.

In [58]:
lowercase=str.lower(Name_str)
print(lowercase)

mahnoor mustafa


Convert a string to uppercase using the upper() method.

In [59]:
uppercase=str.upper(Name_str)
print(uppercase)

MAHNOOR MUSTAFA

Remove leading and trailing whitespace from a string using the strip() method.

In [62]:
string="                              This is a small sentence                                  "
fixed_str=str.strip(string)
print(fixed_str)

This is a small      sentence

Check if a string starts with a specific prefix using the startswith() method.

In [69]:
a = "HELLO WORLD"
prefix = "HELLO"
start = a.startswith(prefix)
print(start)

True

In [73]:
a = "HELLO WORLD"
prefix = "WORLD"
start = a.startswith(prefix)
print(start)

False

Split a string into a list of words using the split() method.

In [74]:
example_str="this is an example of executing list from a string using split method"
split_str=example_str.split()
print(split_str)

['this', 'is', 'an', 'example', 'of', 'executing', 'list', 'from', 'a', 'string', 'using', 'split', 'method']

Join a list of words into a single string using the join() method.

In [75]:
listed_str="Mahnoor","Mustafa","Mphil","RollNo.6","GIS"
joined_str=" ".join(listed_str)
print(joined_str)

Mahnoor Mustafa Mphil RollNo.6 GIS